<ion-view view-title="Single Connection Profile" class="connection-view" can-swipe-back="false">
    <div class="row responsive-sm home-view-content-holder">

        <ion-header-bar class="clear">
          <button class="button icon-left ion-ios-arrow-left button-clear button-dark" ng-click="closeProfile()">Back</button>
          <button class="button button-icon icon ion-ios-search"></button>
          <button class="button button-icon icon ion-ios-plus-empty" ng-click="openAddInteractionModule()"></button>
        </ion-header-bar>
        
        <ion-content class="has-header" scroll="true" direction="y" > 

        	<div class="profile-header-content centered">
                <div class="main-connection-photo profile-photo">
                    <img src={{profileUser.photo}} alt="contact image" id="main-profile-pic" class=""/>
                </div>
                <div class="connection-strength centered">
                    <img src="../img/full-meter.png" alt="full grayed meter image" id="full-connection-meter" class=""/>
                    <img src="../img/strength.png" alt="strength meter image" id="strength-connection-meter" class=""/>
                </div>
                <div class="main-profile-detail">
                	<h1 class="">{{profileUser.name}} <img src="../img/twitter-logo.png" alt="coffee icon" /></h1>
                	<div class="minor-profile-detail">
	                    <p class="">{{profileUser.profession}}</p>
	                    <p class="">{{profileUser.email}}</p>
	                    <p class="">{{profileUser.phone_number}}</p>
	                    <p class="">{{profileUser.location}}</p>
                	</div>
                </div>
            </div>

            <div ng-controller="interactionsCtrl">
              <div class="main-contact-content-detail centered" >
                    <div class="contact-content-detail">
                      <p class="">TUESDAY, APRIL 7</p>
                      <div ng-repeat="interacton in interactions" >
                        <div class="contact-line-item"> 
                          <img src={{"../img/action-"+interacton.action+".png"}} alt="email icon" class="line-item-icons line-item-icon-detail">
                          <div class="contact-line-item"> 
                            <div class="contact-line-item-detail">
                              <h1 class="">{{interacton.title}}</h1>
                              <p class="">{{interacton.description}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>

                  <div class="contact-content-detail">
                    <p class="">WEDNESDAY, APRIL 8</p>
                    <div class="contact-line-item"> 
                      <div class="line-item-icon-detail">
                          <img src="../img/email.png" alt="email icon" class="line-item-icons"/>
                      </div>
                      <div class="contact-line-item-detail">
                        <h1 class="">Platform API Scrum Teams</h1>
                        <p class="">Hi team, We’ll start aligning our scrum teams with the current SBG Core charter. Starting next week, we’ll convene and chat about next steps with the team.</p>
                      </div>
                    </div>
                    <div class="contact-line-item"> 
                      <div class="line-item-icon-detail">
                          <img src="../img/coffee.png" alt="email icon" class="line-item-icons"/>
                      </div>
                      <div class="contact-line-item-detail">
                        <h1 class="">Catch Up Over Coffee</h1>
                        <p class="">Discussed agile methodology and her new take on how she wants engineering teams to operate at Medium.</p>
                      </div>
                    </div>
                    <div class="contact-line-item"> 
                      <div class="line-item-icon-detail">
                          <img src="../img/twitter-logo.png" alt="coffee icon" class="line-item-icons"/>
                      </div>
                      <div class="contact-line-item-detail">
                        <h1 class="">Platform API Scrum Teams</h1>
                        <p class="">Feeling so proud of @CODE2040 staff and volunteers as they roll out our first regional #TAP2040 retreat experience. Go Chi Town!</p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>


        </ion-content>

    </div>
</ion-view>