<ion-view view-title="Single Connection Profile" class="connection-view" can-swipe-back="false">
    <div class="row responsive-sm home-view-content-holder">

        <ion-header-bar class="clear">
            <button class="button button-icon icon ion-ios-search"></button>
            <button class="button button-icon icon ion-ios-plus-empty" ng-click="openAddInteractionModule()"></button>
        </ion-header-bar>
        
        <ion-content class="has-header" scroll="true" direction="y" > 

        	<div class="profile-header-content centered">
                <div class="main-connection-photo profile-photo">
                    <img src="../img/sample-profile-photo3.png" alt="contact image" id="main-profile-pic" class=""/>
                </div>
                <div class="connection-strength centered">
                    <img src="../img/full-meter.png" alt="full grayed meter image" id="full-connection-meter" class=""/>
                    <img src="../img/strength.png" alt="strength meter image" id="strength-connection-meter" class=""/>
                </div>
                <div class="main-profile-detail">
                	<h1 class="">Diane Leland <img src="../img/twitter-logo.png" alt="coffee icon" /></h1>
                	<div class="minor-profile-detail">
	                    <p class="">Senior Software Engineer</p>
	                    <p class="">dkleland@stanford.edu</p>
	                    <p class="">(650) 555 - 5555</p>
	                    <p class="">San Francisco, CA</p>
                	</div>
                </div>
            </div>

            <div class="main-contact-content-detail centered">
                <div class="contact-content-detail">
               		<p class="">TUESDAY, APRIL 7</p>
               		<div class="contact-line-item"> 
               			<div class="line-item-icon-detail">
                    		<img src="../img/email.png" alt="email icon" class="line-item-icons"/>
               			</div>
               			<div class="contact-line-item-detail">
               				<h1 class="">Platform API Scrum Teams</h1>
               				<p class="">Hi team, We’ll start aligning our scrum teams with the current SBG Core charter. Starting next week, we’ll convene and chat about next steps with the team.</p>
               			</div>
               		</div>
               		<div class="contact-line-item"> 
               			<div class="line-item-icon-detail">
                    		<img src="../img/coffee.png" alt="email icon" class="line-item-icons"/>
               			</div>
               			<div class="contact-line-item-detail">
               				<h1 class="">Catch Up Over Coffee</h1>
               				<p class="">Discussed agile methodology and her new take on how she wants engineering teams to operate at Medium.</p>
               			</div>
               		</div>
               		<div class="contact-line-item"> 
               			<div class="line-item-icon-detail">
                    		<img src="../img/twitter-logo.png" alt="coffee icon" class="line-item-icons"/>
               			</div>
               			<div class="contact-line-item-detail">
               				<h1 class="">Platform API Scrum Teams</h1>
               				<p class="">Feeling so proud of @CODE2040 staff and volunteers as they roll out our first regional #TAP2040 retreat experience. Go Chi Town!</p>
               			</div>
               		</div>
                </div>
                <div class="contact-content-detail">
               		<p class="">WEDNESDAY, APRIL 8</p>
               		<div class="contact-line-item"> 
               			<div class="line-item-icon-detail">
                    		<img src="../img/meeting.png" alt="email icon" class="line-item-icons"/>
               			</div>
               			<div class="contact-line-item-detail">
               				<h1 class="">GHC Planning Meeting</h1>
               				<p class="">Skype call about student panels for GHC. Suggested we highlight technical women. Mentioned she knows of a job opportunity in Global Health tech.</p>
               			</div>
               		</div>
                </div>


            </div>


        </ion-content>

    </div>
</ion-view>