<ion-view view-title="Settings" class="settings-view" can-swipe-back="false">
    <div class="row responsive-sm home-view-content-holder">

        <ion-content class="" scroll="false" direction="y" >  
            <div  class="settings-header">
                <a class="item-settings-card item-avatard" href="#">
                    <img src="../img/sample-profile-photo@1x.png" />
                    <div class="item-settings-details">
                        <h4>Kiara Weddington</h4>
                        <p class="detail-settings-email">kiara@invisionapp.com</p>
                    </div>
                </a>
                <img class="settings-header-line" src="../img/line-with-frayed-edges.png" />
            </div>

            <ul class="list">
                <li class="item-toggle">IN PROGRESS<label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                 </label>
              </li>

            </ul>
    	</ion-content>

	</div>
</ion-view>