<ion-view view-title="Karma" class="splash-view" can-swipe-back="false">
    <div class="row responsive-sm splash-view-content-holder">

        <ion-content scroll="false">

            <div class="splash-home" >

                <div class="splash-home-content">

                    <div class="splash-welcome">
                        <p>Good Morning!</p>
                    </div>

                    <div class="splash-home-header">
                        <div class="splash-date">
                            <img src="../img/oval.png" alt="profile image" id="splash-date-oval" />
                            <img src="../img/add-sign@1x.png" alt="profile image" id="splash-notifications" />
                            <p id="splash-date-number">12</p>
                            <p id="splash-date-day">TUE</p>
                        </div>  
                    </div>

                    <div class="splash-inspiration">
                        <p>“The trouble with not having a goal is that you can spend your life running up and down the field and never score.”</p>
                    </div>

                </div>  

            </div>

        </ion-content>
    </div>
</ion-view>