<ion-view view-title="Trends" class="trends-view" can-swipe-back="false">
    <div class="row responsive-sm home-view-content-holder">

        <ion-header-bar class="clear">
            <button class="button button-icon icon ion-ios-search"></button>
            <button class="button button-icon icon ion-ios-plus-empty" ng-click="openAddConnectionModule()"></button>
        </ion-header-bar>
        
        <ion-content class="has-header" scroll="false" direction="y" > 
            <div  class="trends-header">
                <a class="item" href="#">
                    <p>
                        IN PROGRESS
                    </p>
                </a>
            </div>

    	</ion-content>

	</div>
</ion-view>