<ion-view view-title="Trends" class="trends-view" can-swipe-back="false">
    <div class="row responsive-sm home-view-content-holder">

        <ion-header-bar class="clear">
            <button class="button button-icon icon ion-ios-search"></button>
            <button class="button button-icon icon ion-ios-plus-empty" ng-click="openAddConnectionModule()"></button>
        </ion-header-bar>
        
        <ion-content class="has-header" scroll="false" direction="y" > 
            <div  class="trends-header">
                <a class="item" href="#">
                    <p>
                        IN PROGRESS
                    </p>
                </a>
                <label class="item item-input">
                    <span class="input-label">USERNAME</span>
                    <input type="text" placeholder="username" ng-model="toBeDeletedUser.username">
                </label>
                <label class="item item-input item-select sub-detail">
                    <span class="input-label">SAFE DELETE</span>
                    <select ng-model="toBeDeletedUser.safekey">
                        <option selected>no</option>
                        <option>yes</option>
                    </select>
                </label>
                <button class="button button-clear button-positive sit-right" ng-click="deleteUser()">Submit</button>
                <button class="button button-clear button-positive sit-right" ng-click="getUsers()">Get All Users</button>

                

            </div>
    	</ion-content>

	</div>
</ion-view>