img.contacts-connection-photo {
        position: relative !important;
    margin-right: 5%;
    position: absolute;
    left: 16px;
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    float: left;
}

img.contacts-strength-meter {
	margin: 0px 5%;
    height: 45px;
    float: left;
}

.item h1 {
	font-size: 20px;
    float: left;
    line-height: 45px;
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 65%;
    font-weight: normal;
}