a.item.item-avatar {
    padding: 11px;
    max-height: 22px;
}

.home-header-content {
	background-image: url(../img/trans-image.png); 
	height: 150px; 
	width: 100%;
	position: absolute;
    top: 0; right: 0; left: 0;
}

.home-task-list {
	top: 150px; 
	position: absolute;
	width: 100%;
}

.colored-task {
	float: left;
	height: 50px;
	width: 2px;
	display: inline-block;
	background-color: yellow;
}

.item-avatard {
	width: 100%;
	padding-left: 10px;
}

.item-avatard img {
	float: left;
	height: 50px;
	margin-left: 5%;
	border-radius: 25px;
	display: inline-block;
}

.item-avatard h2 {
	padding-top: 5px;
	clear: right;
	white-space: nowrap;
}

.item-home-details {
    margin-left: 5%;
    display: block;
    float: left;
}

.item-avatard p.detail-date {
	width: 40px;
	float: left;
	font-size: 10px;
}

.item-avatard p.detail-project {
	margin-left: 7%;
	width: 80px;
	float: left;
	font-size: 10px;
}