@media (min-height: 526px) { 
    .submit-button {
        padding-top: 10%;
    }
}

@media (max-height: 525px) { 
    .submit-button {
        padding-top: 5%;
    }
}

.welcome-logo {
    display: block;
    margin: 10% auto;
    max-height: 20%;
    max-width: 40%;
}

#image-logo {
	width: 100%;
    height: 100%;
}

.login-block {
    width: 80%;
    padding: 1.250em;
    background: #fff;
    margin: 0 auto;
}

.login-block input {
    width: 100%;
    height: 42px;
    color: #86868B;
    border-bottom: 1px solid #5D5E5E;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0px 1.25em 0px 1.75em;
    margin: 0px auto 12%;
}

.login-block input#login-username {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 0.500em top no-repeat;
    background-size: 1.000em 80px;
}

.login-block input#login-password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 0.500em top no-repeat;
    background-size: 1.000em 80px;
}

.submit-button button{
    width: 100%;
    height: 50px;
    background: #fff;
    border: 1px solid transparent;
    border-color: #50D2C2;
    -webkit-border-radius:25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.text-button button{
    width: 120%;
    margin-left: -10%;
    background: #fff;
    border: 0px;
    font-size: 10px;
    color: #86868B;
    letter-spacing: 1px;
    -webkit-border-radius:25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.text-button {
    padding: 8% 0%;
}